{% extends 'base.html.twig' %}

{% block title %}About Us | {{ parent() }}{% endblock %}

{% block body %}
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda
        beatae corporis deleniti doloribus ducimus harum illum maiores necessitatibus odio
        officiis pariatur perspiciatis provident, reiciendis repellat repudiandae sapiente sequi?
    </p>
{% endblock %}


