{% extends "base.html.twig" %}


{% block title %} Home | {{parent() }}{% endblock %}

{% block body %}
    <h1 class="h1">{{ parent() }}</h1>
    <h2>Ceci est ma page d'accueil</h2>
{% endblock %}




