{% extends 'base.html.twig' %}

{% block title %}All wishes! | {{ parent() }}{% endblock %}

{% block body %}
    <h2>All wishes!</h2>
    <p>
        Ceci est la page liste
    </p>


    <button><a href="{{ path('wish_detail') }} ">Detail</a>></button>
{% endblock %}